{% render 'partials/head.liquid' %}

<details><summary>Data</summary><pre>{{ person | json:4 }}</pre></details>

  <article class="profile-card-example">
    <h1>{{ person.name | upcase }}</h1>
    <h2>{{ person.nickname | upcase}}</h2>
    <p>{{ person.birthdate }}</p>


    <ul>
      <li>
        <button popovertarget="popover-1">
          <svg width="25px" height="25px" viewBox="0 0 50 50"><path d="M10 4L10 20L2.9941406 20L3.1464844 46L17.046875 46L19.046875 46L33 46L47 46L47 8L31 8L31 9L31 28L25.996094 28L25.996094 4.0078125L10 4 z M 12 6L23.996094 6.0078125L23.996094 28L19.013672 28L18.998047 20L18 20L12 20L12 6 z M 15 8L15 10L17 10L17 8L15 8 z M 19.039062 8L19.039062 10L21 10L21 8L19.039062 8 z M 33 10L45 10L45 44L39.960938 44L39.960938 40L38 40L38 44L33 44L33 28L33 10 z M 15 12L15 14L17 14L17 12L15 12 z M 19 12L19 14L21 14L21 12L19 12 z M 36 12.003906L36 14L38 14L38 12.003906L36 12.003906 z M 40.019531 12.007812L40.019531 14.021484L41.980469 14.021484L41.980469 12.007812L40.019531 12.007812 z M 36 16.015625L36 18L38 18L38 16.015625L36 16.015625 z M 40.019531 16.015625L40.019531 18L41.980469 18L41.980469 16.015625L40.019531 16.015625 z M 36 20L36 22L38 22L38 20L36 20 z M 40 20L40 22L41.980469 22L41.980469 20L40 20 z M 5.0058594 22L17.001953 22L17.013672 28L16.998047 28L17.041016 44L11.980469 44L11.980469 40L10.019531 40L10.019531 44L5.1347656 44L5.0058594 22 z M 8 24L8 26.015625L10.039062 26.015625L10.039062 24L8 24 z M 12.039062 24L12.039062 26.015625L14 26.015625L14 24L12.039062 24 z M 36 24.007812L36 25.998047L38 25.998047L38 24.007812L36 24.007812 z M 40 24.007812L40 25.998047L41.980469 25.998047L41.980469 24.007812L40 24.007812 z M 8 27.984375L8 30L10.039062 30L10.039062 27.984375L8 27.984375 z M 12.039062 27.984375L12.039062 30L14 30L14 27.984375L12.039062 27.984375 z M 36 27.992188L36 30.007812L38 30.007812L38 27.992188L36 27.992188 z M 40.019531 27.992188L40.019531 30.007812L41.980469 30.007812L41.980469 27.992188L40.019531 27.992188 z M 19.017578 30L31 30L31 44L26 44L26 40L24 40L24 44L19.042969 44L19.017578 30 z M 8 32L8 34.015625L10.039062 34.015625L10.039062 32L8 32 z M 12.039062 32L12.039062 34.015625L14 34.015625L14 32L12.039062 32 z M 22 32L22 34.015625L24 34.015625L24 32L22 32 z M 26 32L26 34.015625L28 34.015625L28 32L26 32 z M 36 32L36 34.015625L38 34.015625L38 32L36 32 z M 40.019531 32L40.019531 34.015625L41.980469 34.015625L41.980469 32L40.019531 32 z M 22 35.984375L22 38L24 38L24 35.984375L22 35.984375 z M 26 35.984375L26 38L28 38L28 35.984375L26 35.984375 z M 36 35.984375L36 38L38 38L38 35.984375L36 35.984375 z M 40.019531 35.984375L40.019531 38L41.980469 38L41.980469 35.984375L40.019531 35.984375 z"/></svg>
        </button>

        <dialog popover id="popover-1">
          <figure>
            {{ person.custom.h3_1 }}
            <img src="/amsterdamgracht.jpg" alt="Grachten in Amsterdam">
            <img src="/matcha.jpg" alt="Twee bekers matcha thee">
            <img src="/koekemannetje.jpg" alt="Koektrommel met koekjes">
            <p>I was born and raised in Amsterdam and I love to do things in my city.</p>
          </figure>
        </dialog>
      </li>

      <li>
        <button popovertarget="popover-2">
          <svg width="25px" height="25px" viewBox="0 0 50 50"><path d="M10 4L10 20L2.9941406 20L3.1464844 46L17.046875 46L19.046875 46L33 46L47 46L47 8L31 8L31 9L31 28L25.996094 28L25.996094 4.0078125L10 4 z M 12 6L23.996094 6.0078125L23.996094 28L19.013672 28L18.998047 20L18 20L12 20L12 6 z M 15 8L15 10L17 10L17 8L15 8 z M 19.039062 8L19.039062 10L21 10L21 8L19.039062 8 z M 33 10L45 10L45 44L39.960938 44L39.960938 40L38 40L38 44L33 44L33 28L33 10 z M 15 12L15 14L17 14L17 12L15 12 z M 19 12L19 14L21 14L21 12L19 12 z M 36 12.003906L36 14L38 14L38 12.003906L36 12.003906 z M 40.019531 12.007812L40.019531 14.021484L41.980469 14.021484L41.980469 12.007812L40.019531 12.007812 z M 36 16.015625L36 18L38 18L38 16.015625L36 16.015625 z M 40.019531 16.015625L40.019531 18L41.980469 18L41.980469 16.015625L40.019531 16.015625 z M 36 20L36 22L38 22L38 20L36 20 z M 40 20L40 22L41.980469 22L41.980469 20L40 20 z M 5.0058594 22L17.001953 22L17.013672 28L16.998047 28L17.041016 44L11.980469 44L11.980469 40L10.019531 40L10.019531 44L5.1347656 44L5.0058594 22 z M 8 24L8 26.015625L10.039062 26.015625L10.039062 24L8 24 z M 12.039062 24L12.039062 26.015625L14 26.015625L14 24L12.039062 24 z M 36 24.007812L36 25.998047L38 25.998047L38 24.007812L36 24.007812 z M 40 24.007812L40 25.998047L41.980469 25.998047L41.980469 24.007812L40 24.007812 z M 8 27.984375L8 30L10.039062 30L10.039062 27.984375L8 27.984375 z M 12.039062 27.984375L12.039062 30L14 30L14 27.984375L12.039062 27.984375 z M 36 27.992188L36 30.007812L38 30.007812L38 27.992188L36 27.992188 z M 40.019531 27.992188L40.019531 30.007812L41.980469 30.007812L41.980469 27.992188L40.019531 27.992188 z M 19.017578 30L31 30L31 44L26 44L26 40L24 40L24 44L19.042969 44L19.017578 30 z M 8 32L8 34.015625L10.039062 34.015625L10.039062 32L8 32 z M 12.039062 32L12.039062 34.015625L14 34.015625L14 32L12.039062 32 z M 22 32L22 34.015625L24 34.015625L24 32L22 32 z M 26 32L26 34.015625L28 34.015625L28 32L26 32 z M 36 32L36 34.015625L38 34.015625L38 32L36 32 z M 40.019531 32L40.019531 34.015625L41.980469 34.015625L41.980469 32L40.019531 32 z M 22 35.984375L22 38L24 38L24 35.984375L22 35.984375 z M 26 35.984375L26 38L28 38L28 35.984375L26 35.984375 z M 36 35.984375L36 38L38 38L38 35.984375L36 35.984375 z M 40.019531 35.984375L40.019531 38L41.980469 38L41.980469 35.984375L40.019531 35.984375 z"/></svg>
        </button>

        <dialog popover id="popover-2">
          <figure>
            {{ person.custom.h3_2 }}
            <img src="/amsterdamgracht.jpg" alt="Grachten in Amsterdam">
            <img src="/matcha.jpg" alt="Twee bekers matcha thee">
            <img src="/koekemannetje.jpg" alt="Koektrommel met koekjes">
            <p>I was born and raised in Amsterdam and I love to do things in my city.</p>
          </figure>
        </dialog>
      </li>
      
      <li>
        <button popovertarget="popover-3">
          <svg width="25px" height="25px" viewBox="0 0 24 24"><path d="M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </button>

        <dialog popover id="popover-3">
          <figure>
            {{ person.custom.h3_3 }}
            <img src="/amsterdamgracht.jpg" alt="Grachten in Amsterdam">
            <img src="/matcha.jpg" alt="Twee bekers matcha thee">
            <img src="/koekemannetje.jpg" alt="Koektrommel met koekjes">
            <p>I was born and raised in Amsterdam and I love to do things in my city.</p>
          </figure>
        </dialog>
      </li>

      <li>
        <button popovertarget="popover-4">
          <svg height="25px" width="25px" version="1.1" id="_x32_" viewBox="0 0 512 512"  xml:space="preserve"><g><path class="st0" d="M500.398,187.926c-8.993-10.404-22.084-16.393-35.892-16.393c-4.755,0-9.47,0.706-14.007,2.108l-49.759,14.364l-0.478,0.129l-0.478,0.15l-2.467,0.398c-1.234,0-2.466-0.289-3.562-0.836l-24.452-11.978l28.034-37.105c11.978-13.888,13.907-34.152,4.517-50.118c-7.76-13.13-22.005-21.248-37.206-21.248c-3.76,0-7.481,0.478-11.101,1.442l-2.269,0.607l-2.148,0.935L247.681,114.87l-1.512,0.656l-75.923-37.205c-32.072-15.778-68.898-25.208-98.464-25.208c-43.75,0-60.443,20.632-66.491,32.927c-18.106,36.856,10.306,74.012,84.437,110.431l75.366,37.116l42.636,189.03c4.338,20.811,23.358,36.27,45.124,36.27l2.269-0.059c22.363-1.125,40.388-17.708,43.452-39.692l20.791-109.626l25.546,12.584l0.338,0.169l0.359,0.16c21.148,9.768,43.054,14.921,63.368,14.921c33.067,0,58.891-13.946,70.849-38.279l0.159-0.338l0.159-0.338l27.178-58.862C515.498,222.466,512.812,202.271,500.398,187.926z M479.686,226.464l-27.278,59.12c-7.062,14.355-23.436,21.2-43.432,21.2c-15.559,0-33.306-4.138-50.556-12.107l-49.779-24.511l2.328-11.689l-11.46-7.64l-2.686,13.51l-3.681,18.324l0.18,0.119l-24.93,131.562c-0.835,7.669-7.083,13.568-14.762,13.956l-0.776,0.02c-7.401,0-13.788-5.173-15.32-12.435l-45.84-203.274l-88.496-43.572c-25.546-12.554-83.025-43.96-70.471-69.516c5.154-10.504,18.822-15.34,36.459-15.777c-15.966,34.23,24.661,50.585,24.661,50.585l10.187-20.373c-13.589-5.093-15.28-16.971-13.589-22.064c0,0,1.125-2.776,3.014-6.397c20.444,3.154,43.044,10.276,63.338,20.254l88.656,43.453l38.538,18.234l13.589-6.795l-37.622-17.797l101.449-44.477c1.074-0.278,2.148-0.418,3.223-0.418c4.396,0,8.575,2.288,10.882,6.198c2.885,4.884,2.129,11.092-1.791,15.151l-51.151,67.705l57.678,28.252c5.352,2.636,11.201,3.98,17.07,3.98c3.999,0,7.998-0.628,11.878-1.88l50.117-14.455c1.71-0.556,3.462-0.815,5.192-0.815c4.836,0,9.53,2.069,12.793,5.849C481.755,213.075,482.69,220.377,479.686,226.464z"/><path class="st0" d="M133.738,134.337c-7.022,0-12.733,5.7-12.733,12.733c0,7.033,5.711,12.734,12.733,12.734c7.043,0,12.734-5.701,12.734-12.734C146.471,140.038,140.781,134.337,133.738,134.337z"/><path class="st0" d="M182.98,157.257c-7.043,0-12.733,5.7-12.733,12.733c0,7.033,5.69,12.733,12.733,12.733c7.024,0,12.733-5.7,12.733-12.733C195.713,162.958,190.004,157.257,182.98,157.257z"/><path class="st0" d="M232.203,180.177c-7.024,0-12.733,5.7-12.733,12.733s5.71,12.733,12.733,12.733c7.043,0,12.733-5.7,12.733-12.733S239.246,180.177,232.203,180.177z"/><path class="st0" d="M281.444,203.097c-7.043,0-12.733,5.7-12.733,12.733c0,7.033,5.69,12.733,12.733,12.733c7.024,0,12.733-5.7,12.733-12.733C294.177,208.798,288.468,203.097,281.444,203.097z"/></g></svg>
        </button>

        <dialog popover id="popover-4">
          <figure>
            {{ person.custom.h3_4 }}
            <img src="/amsterdamgracht.jpg" alt="Grachten in Amsterdam">
            <img src="/matcha.jpg" alt="Twee bekers matcha thee">
            <img src="/koekemannetje.jpg" alt="Koektrommel met koekjes">
                <p>I was born and raised in Amsterdam and I love to do things in my city.</p>
            </figure>
        </dialog>
      </li>

      <li>
        <button popovertarget="popover-5">
          <svg height="25px" width="25px" version="1.1" id="Capa_1" viewBox="0 0 197.442 197.442"><path d="M186.696,83.902H40.775l136.473-49.707c1.246-0.454,2.261-1.384,2.821-2.586c0.56-1.202,0.62-2.577,0.166-3.823
	          l-8.923-24.497c-0.945-2.596-3.815-3.928-6.409-2.987L9.035,57.074c-1.246,0.454-2.26,1.384-2.821,2.586
	          c-0.56,1.202-0.62,2.577-0.166,3.823l8.922,24.496c0.159,0.436,0.381,0.828,0.638,1.188v103.275c0,2.762,2.239,5,5,5h166.088
	          c2.762,0,5-2.238,5-5v-77.469V88.902C191.696,86.14,189.458,83.902,186.696,83.902z M166.123,18.262l3.005,8.248l-4.662,1.698
	          L166.123,18.262z M128.872,24.068l19.34-7.044l-3.034,18.209l-19.34,7.044L128.872,24.068z M90.245,38.137l19.339-7.044
	          l-3.034,18.209l-19.339,7.044L90.245,38.137z M51.617,52.207l19.339-7.044l-3.034,18.208l-19.338,7.044L51.617,52.207z
	          M32.328,59.233l-3.034,18.208l-6.638,2.418l-5.5-15.1L32.328,59.233z M32.876,109.973h-7.065V93.902h16.148L32.876,109.973z
	          M73.986,109.973H53.405l9.083-16.071h20.582L73.986,109.973z M115.097,109.973H94.515l9.082-16.071h20.583L115.097,109.973z
	          M156.208,109.973h-20.583l9.083-16.071h20.583L156.208,109.973z M181.696,109.973h-4.961l4.961-8.778V109.973z"/></svg>
        </button>

        <dialog popover id="popover">
          <figure>
            <img src="/amsterdamgracht.jpg" alt="Grachten in Amsterdam">
            <img src="/matcha.jpg" alt="Twee bekers matcha thee">
            <img src="/koekemannetje.jpg" alt="Koektrommel met koekjes">
              {{ person.custom.h3_5 }}
            <p>I was born and raised in Amsterdam and I love to do things in my city.</p>
          </figure>
        </dialog>
      </li>
    </ul>
  </article>

  <script src="scripts/script.js"></script>

{% render 'partials/foot.liquid' %}
