{% render 'partials/head.liquid' %}

<h1>Data-Driven Web</h1>
<p>Ik ben dus {{ person.name }}</p>

<p>Het is vandaag {{ 'now' | date: '%a, %d, %b, %y'}}</p>


{{ person.custom.hobby }}

{{ person.custom.h3_title1 }}
{{ person.custom.h3_title3 }}

<pre>{{ person | json }} </pre>

{% render 'partials/head.liquid' %}